.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: url('../images/hawaii.jpg') no-repeat center center; */
    background-size: cover;
    color: #fff;
}

h2 {
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
    color: #000000;
}

.login-container form {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container label {
    font-family: 'Arial', sans-serif;
    color: blueviolet;
    /* #f0c808; */
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #f0c808;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    transition: background 0.3s;
}

button:hover {
    background: #ffa726;
}

p {
    font-family: 'Arial', sans-serif;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}
